<%= form_for @variety, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:color, [['Red', Variety::RED], ['White', Variety::WHITE], ['Rose', Variety::ROSE]]) %>    </div>
  </div>
  <div class="control-group">
    <%= f.label :fizz, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:fizz, [['Still', Variety::STILL], ['Sparkling', Variety::FIZZY]]) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                varieties_path, :class => 'btn' %>
  </div>
<% end %>
