<%= form_for(@bottle) do |f| %>
    <% if @bottle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bottle.errors.count, "error") %> prohibited this bottle from being saved:</h2>

          <ul>
            <% @bottle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :wine_id %>
      <br>
      <%= collection_select(:bottle, :wine_id, Wine.all, :id, :wine_name, :prompt => true) %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity %>
      <%= f.label :purchased_on %>
      <%= select_date Date.today, prefix: :start_date %>
    </div>
    <div class="field">
      <%= f.label :store_id %><br>
      <%= collection_select(:bottle, :store_id, Store.all, :id, :name, :prompt => true) %>
    </div>
    <div class="field">
      <%= f.label "Paid" %><br>
      <%= f.text_field :price %>
      <%= f.label "(List)" %>
      <%= f.text_field :list_price %>
    </div>
    <div class="field">
      <%= f.label :visibility %><br>
      <%= f.select(:visibility, [['Visible', Bottle::VISIBLE_TO_ALL], ['Hidden', Bottle::HIDDEN]]) %>
    </div>
    <div class="field">
      <%= f.label :comment %>
      <br>
      <%= f.text_field :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
