<% content_for :header do %>
    <div>
      <h3>View or Modify A Purchase</h3>
      <p><%= "Details of #{@bottle.wine.wine_name} purchase on #{@bottle.purchased_on}" %></p>

    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>
      <p>You can use this screen to view the details of your purchase.</p>
      <% if @users.count > 0 %>
          <hr>
          <p>USERS WHO ALSO OWN</p> <strong><%= @bottle.wine.wine_name %></strong><br>

          <div>
            <% @users.each do |u| %>
                <%= link_to u.email, user_path(u.id) %>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>

<%= button_to("Delete This Bottle", bottle_path, :class => 'button',
              :method => :delete, data: {confirm: 'Are you sure?'}) %>
<hr>
<%= render 'form' %>

