<% content_for :header do %>
    <div>
      <h2>View or Modify A Purchase</h2>
      <h3 style="text-align: center"><%= "Details of #{@bottle.wine.wine_name} purchase on #{@bottle.purchased_on}"%></h3>

      <p>You can user this screen to view the details of your purchase.</p>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>
      <%#= button_to "MY CELLAR", users_show_path({:id => current_user.id}), class: "button", method: :get %>
      <%= link_to "MY CELLAR", user_path(current_user.id) %>

      <p>USERS WHO ALSO OWN</p> <strong><%=  @bottle.wine.wine_name %></strong><br>
      <div>
        <% @users.each do |u| %>
            <%= link_to u.email, user_path(u.id) %>
        <% end %>
      </div>
    </div>
<% end %>


<%= render 'form' %>

