<%- model_class = Bottle -%>


<% content_for :header do %>
    <div>
      <h3 style="text-align: center"><%= @title %></h3>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <% if @do_search %>
        <%= form_tag '', :method => :get do %>
            <%= select_tag :color, options_for_select(
                    [['Red', Variety::RED], ['White', Variety::WHITE], ['Rose', Variety::ROSE]]),
                           :prompt => 'color' %>
            <%= select_tag :fizz, options_for_select(
                    [['fizz', 0], ['Still', Variety::STILL], ['Sparkling', Variety::FIZZY]]),
                           :prompt => 'fizz' %>
            <%= select_tag :brand, options_from_collection_for_select(Brand.all, :id, :name),
                           :prompt => "brand" %>
            <%= select_tag :variety, options_from_collection_for_select(Variety.all, :id, :name), :prompt => 'variety' %>
            <%= select_tag :store, options_from_collection_for_select(Store.all, :id, :name), :prompt => 'store' %>

            <%= submit_tag 'Filter' %>
        <% end %>

    <% else %>

        <div>
          <% if !@users.empty? %>
              <p>USERS WHO ALSO OWN THIS WINE</p>

              <div>
                <% @users.each do |u| %>
                    <%= link_to u.email, user_path(u.id) %>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>


<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name("date") %></th>
    <th><%= model_class.human_attribute_name(:quantity) %></th>
    <th><%= model_class.human_attribute_name("price/list") %></th>
    <th><%= model_class.human_attribute_name(:comment) %></th>
    <th><%= model_class.human_attribute_name(:store) %></th>
    <th><%= model_class.human_attribute_name(:purchaser) %></th>
  </tr>
  </thead>

  <tbody>
  <% @bottles.each do |bottle| %>
      <tr>
        <td><%= bottle.purchased_on %></td>
        <td><%= bottle.quantity %></td>
        <td><%= bottle.price %> / <%= bottle.list_price %></td>
        <td><%= bottle.comment %></td>
        <td><%= bottle.store.name %></td>
        <td><%= link_to bottle.user.name, user_path(bottle.user.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
