<%- model_class = Bottle -%>


<% content_for :header do %>
    <div>
      <h3 style="text-align: center"><%= @title %></h3>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>

      <% if !@users.empty? %>
          <p>USERS WHO ALSO OWN THIS WINE</p>

          <div>
            <% @users.each do |u| %>
                <%= link_to u.email, user_path(u.id) %>
            <% end %>
          </div>
      <% end %>

    </div>
<% end %>


<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name("date") %></th>
    <th><%= model_class.human_attribute_name(:quantity) %></th>
    <th><%= model_class.human_attribute_name("price/list") %></th>
    <th><%= model_class.human_attribute_name(:comment) %></th>
    <th><%= model_class.human_attribute_name(:store) %></th>
    <th><%= model_class.human_attribute_name(:purchaser) %></th>
  </tr>
  </thead>

  <tbody>
  <% @bottles.each do |bottle| %>
      <tr>
        <td><%= bottle.purchased_on %></td>
        <td><%= bottle.quantity %></td>
        <td><%= bottle.price %> / <%= bottle.list_price %></td>
        <td><%= bottle.comment %></td>
        <td><%= bottle.store.name %></td>
        <td><%= link_to bottle.user.name, user_path(bottle.user.id) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
