<% content_for :header do %>
    <div>
      <h3 style="text-align: center"><%=@title %></h3>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>

      <% if !@users.empty? %>
          <p>USERS WHO ALSO OWN THIS WINE</p>

          <div>
            <% @users.each do |u| %>
                <%= link_to u.email, user_path(u.id) %>
            <% end %>
          </div>
      <% end %>

    </div>
<% end %>


<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Quantity</th>
    <th>Price/List</th>
    <th>Comment</th>
    <th>Store</th>
    <th>Purchaser</th>
  </tr>
  </thead>

  <tbody>
  <% @bottles.each do |bottle| %>
          <tr>
            <td><%= bottle.purchased_on %></td>
            <td><%= bottle.quantity %></td>
            <td><%= bottle.price %> / <%= bottle.list_price %></td>
            <td><%= bottle.comment %></td>
            <td><%= bottle.store.name %></td>
            <td><%= bottle.user.name %></td>
          </tr>
  <% end %>
  </tbody>
</table>
