<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @bottle.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bottle.purchased_on %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bottle.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @bottle.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @bottle.comment %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @bottle.wine.brand.name + " " + @bottle.wine.variety.name%>
</p>

<p>
  <strong>Store:</strong>
  <%= @bottle.store.name %>
</p>

<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'View my bottles', bottles_path %>
<%= link_to 'Back', :back %>
