<% content_for :header do %>
    <div>
      <p>Details of this purchase</p>

      <h3><%= @bottle.wine.name %></p></h3>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>

    </div>
<% end %>


<p>
  <strong>Quantity:</strong>
  <%= @bottle.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bottle.purchased_on %>
</p>

<% if @is_owner %>
    <p>
      <strong>Price:</strong>
      <%= @bottle.price %>
      <% if @bottle.list_price != nil && @bottle.list_price > 0.0 %>
          <%= "(lists for #{@bottle.list_price})" %>
      <% end %>
    </p>
<% end %>

<p>
  <strong>Comment:</strong>
  <%= @bottle.comment %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @bottle.wine.brand.name + " " + @bottle.wine.variety.name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @bottle.store.name %>
</p>

