<% content_for :header do %>
    <div>
      <h3 style="text-align: center"><%= @title %></h3>

      <p><%= @greeting %></p>
    </div>
<% end %>



<% content_for :left_sidebar do %>
    <div>
      <% if @is_owner == false %>
          <%= link_to "MY CELLAR", user_path(current_user.id) %>
      <% else %>
          <table>
            <% current_user.links.order(:name).each do |l| %>
                <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                  <td class="list_description">
                    <%= raw "<a href=\"#{l.url}\" target=\"_blank\">#{l.name}</a>" %></td>
                  <td><%= link_to 'x', link_path(l), :method => :delete %>
                  </td>
                </tr>
            <% end %>
          </table>
          <br>
          <hr>
          <%= button_to 'ADD A BOTTLE', new_bottle_path, class: "button", method: :get %>
          <%= button_to 'EDIT MY ACCOUNT', edit_user_path, class: "button", method: :get %>
      <% end %>

    </div>
<% end %>


<%# iterate through @wine.bottles %>
<table>
  <p id="notice"><%= notice %></p>

  <% @bottles.each do |bottle| %>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description" style="width:40%">
          <%= image_tag( bottle.wine.variety.icon, size: "25x25") %>
          <% if @is_owner == true %>
              <%= link_to "#{bottle.purchased_on} - #{ pluralize(bottle.quantity, "bottle") }",
                          edit_bottle_path(bottle.id) %>
          <% else %>
              <%= link_to "#{bottle.purchased_on} - #{ pluralize(bottle.quantity, "bottle") }",
                          bottle_path(bottle.id) %>
          <% end %>
          <%= link_to "#{bottle.wine.wine_name}", bottles_path(:wine_id => bottle.wine.id) %>
        </td>
        <td style="width:60%">
          <% if bottle.comment %>
              <i><%= truncate(bottle.comment, length: 80, separator: ' ') %></i>
          <% end %>
        </td>
      </tr>

  <% end %>
</table> <br/>


