<p id="notice"><%= notice %></p>


<% content_for :header do %>
    <div>
      <h3 style="text-align: center">This is the home page for <%= current_user.user_name %></h3>

      <p><%= current_user.greeting %>></p>
    </div>
<% end %>



<% content_for :left_sidebar do %>
    <div>
      MY LINKS:

      <%= button_to "HOME", :root, class: "button", method: :get %>
      <%= button_to 'BACK', :back, class: "button", method: :get %>
      <%= button_to 'EDIT MY ACCOUNT', users_edit_path, class: "button", method: :get %>

    </div>
<% end %>


<%# iterate through @wine.bottles %>
<table>
  <% @bottles.each do |bottle| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td class="list_description">
              <dl>
                <dd><strong><%= bottle.wine.wine_name %></strong></dd>
                <dd><%= bottle.to_label %></dd>
              </dl>
              <dl>
                <dd><%= strip_tags(bottle.comment) %></dd>
              </dl>
            </td>


            <td class="list_actions">
              <%= link_to 'Show', bottle %><br/>
              <%= link_to 'Edit', edit_bottle_path(bottle) %><br/>
              <%= link_to 'Destroy', bottle, method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
  <% end %>
</table> <br />


<%= link_to 'Add a bottle', new_bottle_path %>
<%= link_to 'View Wines', wines_path %>
