<%- model_class = Bottle -%>
<% content_for :header do %>
    <div>
      <h3 style="text-align: center"><%= @title %></h3>

      <p><%= @greeting %></p>

    </div>
<% end %>



<% content_for :left_sidebar do %>
    <div>
      <% if @is_owner %>
          <p>... and here are some happy facts:</p>
          <ul>
            <li><%= "You have purchased #{pluralize(@n_bottles, "bottle")} of wine" %></li>
            <li><%= "You paid $#{@total_paid_price}" %></li>
            <li><%= "Total list was $#{@total_list_price}" %></li>
            <li><%= "For a saving of $#{@total_saved}" %></li>
          </ul>

          <hr>
          <%= button_to 'ADD A BOTTLE', new_bottle_path, class: "button", method: :get %>
          <%= button_to "UPDATE MY ACCOUNT", edit_user_registration_path, class: "button", method: :get %>
      <%	 else %>
          <li><%= "#{pluralize(@n_bottles, "bottle")} of wine" %></li>
      <% end %>
    </div>
<% end %>

<%= form_tag '', :method => :get do %>
    <%= select_tag :color, options_for_select(
            [['Red', Variety::RED], ['White', Variety::WHITE], ['Rose', Variety::ROSE]]) %>
    <%= select_tag :fizz, options_for_select(
            [['Still', Variety::STILL], ['Sparkling', Variety::FIZZY]]) %>

    <%= submit_tag 'Filter' %>
<% end %>


<%# iterate through @wine.bottles %>
<table class="table table-striped">
  <p id="notice"><%= notice %></p>
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:style) %></th>
    <th><%= model_class.human_attribute_name(:date) %></th>
    <th><%= model_class.human_attribute_name(:bottles) %></th>
    <th><%= model_class.human_attribute_name(:wine) %></th>
    <th><%= model_class.human_attribute_name(:comment) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @bottles.each do |bottle| %>

      <tr>
        <td><%= image_tag(bottle.wine.variety.icon, size: "25x25") %></td>
        <td><%= bottle.purchased_on %></td>
        <td>
          <% if @is_owner == true %>
              <%= link_to "#{ pluralize(bottle.quantity, "bottle") }", edit_bottle_path(bottle.id) %>
          <% else %>
              <%= link_to "#{ pluralize(bottle.quantity, "bottle") }", bottle_path(bottle.id) %>
          <% end %>
        </td>
        <td>
          <%= link_to "#{bottle.wine.wine_name}", bottles_path(:wine_id => bottle.wine.id) %>
        </td>
        <td>
          <% if bottle.comment %>
              <i><%= truncate(bottle.comment, length: 80, separator: ' ') %></i>
          <% end %>
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bottle_path(bottle),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>

  <% end %>
  </tbody>
</table> <br/>


