<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_id %><br>
    <%= collection_select( :wine, :brand_id, Brand.all, :id, :name, :prompt => true ) %>
  </div>

  <div class="field">
    <%= f.label :variety_id %><br>
    <%= collection_select( :wine, :variety_id, Variety.all, :id, :name, :prompt => true ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
