<p id="notice"><%= notice %></p>

<h1>Listing wines</h1>

<table>
  <%= variety = '' %>
  <% @wines.each do |wine| %>
      <% if variety != wine.variety.name %>
          <% variety = wine.variety.name %>
          <th class="variety_name"><%= variety %></th>
      <% end %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description">
          <dl>
            <dd><%= wine.brand.name %></dd>
          </dl>

          <dl>
            <dd>
              <%= link_to "Show My Bottles (#{wine.num_bottles(false, current_user.id)})",
                          wine_path(wine.id, :show_all => false)%>

              <%=  link_to "Show All Bottles(#{wine.num_bottles(true, current_user.id)})",
                          wine_path(wine.id, :show_all => true) %>
              </dd>
            </dd>
          </dl>

          <% if wine.comments.first %>
              <dl>
                <dd><%= wine.comments.first.comment %></dd>
              </dl>
          <% end %>
        </td>

        <td class="list_actions">
          <dl>
            <dt>
              <%= link_to 'Add a Bottle', new_bottle_path(:wine_id => wine.id) %>
            </dt>
          </dl>

          <dl>
            <dt>
              <%= link_to 'Add a comment', edit_wine_path(wine) %>
            </dt>
          </dl>

          <% if wine.comments.first %>
              <dl>
                <dt><%= link_to("Edit Lead Comment", edit_comment_path(:id => wine.comments.first.id)) %></dt>
              </dl>
          <% end %>

        </td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
