<% content_for :header do %>
    <div>
      <h3 style="text-align: center">"These are the wines that fry men's (and women's) souls"<sup>*</sup></h3>

      <p>Welcome to Grapewitz, a place you can go after a couple of glasses of wine to
        discuss your purchase with friends, keep track of how much you haven't spent
        on wine by buying at a discount (savings you'll need for that nice, new liver),
        and generally having a merry old time. </p>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>
      MY LINKS:

      <%= button_to "MY_CELLAR", users_show_path(current_user.id), class: "button", method: :get %>
      <%= button_to 'NEW WINE', new_wine_path, class: "button", method: :get %>

      USERS
      <%= button_to "NEW USER", users_new_path, class: "button", method: :get %>
      <div>
        <% @users.each do |u| %>
            <%= link_to u.email, users_show_path(u) %>
        <% end %>
      </div>
    </div>
<% end %>

<table style="width:100%">
  <tr>
    <td colspan="2"></td>
    <h3>Wine our friends have bought</h3>
  </tr>
  <% @wines.each do |wine| %>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description" style="width:30%">
          <%= link_to "#{ pluralize(wine.num_bottles(true, current_user.id), "bottles") }",
                      bottles_path(:wine_id => wine.id) %>
          <%= link_to "#{wine.wine_name}", bottles_path(:wine_id => wine.id) %>
        </td>
        <td style="width:70">
          <% if wine.comments.first %>
              <i><%= truncate(wine.comments.first.comment, length: 80, separator: ' ') %></i>
          <% end %>
        </td>
      </tr>

  <% end %>
</table>

<br>



<% content_for :footer do %>
    <div>
      <p><sup>*</sup>Thomas Pain</p>
    </div>
<% end %>
