<h1>Listing wines</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Variety</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.brand.name %></td>
        <td><%= wine.variety.name %></td>
        <td><%= link_to "Show your bottles (#{wine.num_bottles})", wine %></td>
        <td><%= link_to 'Add a Bottle', new_bottle_path(:wine_id => wine.id) %></td>
        <td><%= link_to 'Add a comment', edit_wine_path(wine) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
