<%- model_class = Wine -%>
<% content_for :header do %>
    <div>
      <h2>Welcome to Grapewitz</h2>

      <h3 style="text-align: center">"These are the wines that fry men's (and women's) souls"<sup>*</sup></h3>

      <p>Welcome to Grapewitz, a place you can go after a couple of glasses of wine to
        discuss your purchase with friends, keep track of how much you haven't spent
        on wine by buying at a discount (savings you'll need for that nice, new liver),
        and generally having a merry old time.
      </p>

      <p>
        The main panel shows the wines that have been bought by our friends.
      </p>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>

      <%= link_to "MY CELLAR", user_path(current_user.id) %>

      <h3>USERS:</h3>

      <p>Here are a list of your friends who have accounts on <i>Grapewitz</i></p>

      <p>Click a link to see what they've bought</p>

      <div>
        <% @users.each do |u| %>
            <%= link_to u.email, user_path(u.id) %>
        <% end %>
      </div>
      <br>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:style) %></th>
    <th><%= model_class.human_attribute_name(:purchase) %></th>
    <th><%= model_class.human_attribute_name(:wine_name) %></th>
    <th><%= model_class.human_attribute_name(:comment) %></th>
  </tr>
  </thead>

  <tbody>
  <% @wines.each do |wine| %>
      <tr>
        <td><%= image_tag(wine.variety.icon, size: "25x25") %></td>
        <td><%= link_to "#{ pluralize(wine.num_bottles(true, current_user.id), "bottle") }",
                        bottles_path(:wine_id => wine.id) %></td>
        <td><%= link_to "#{wine.wine_name}", wine_path(wine.id) %></td>
        <% if wine.comments.first %>
            <td><i><%= truncate(wine.comments.first.comment, length: 80, separator: ' ') %></i></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= button_to 'NEW WINE', new_wine_path, class: "button", method: :get %><br>

<br>



<% content_for :footer do %>
    <div>
      <p><sup>*</sup>Thomas Pain</p>
    </div>
<% end %>
