<%- model_class = Wine -%>
<% content_for :header do %>
    <div>
      <h2>Welcome to Grapewitz</h2>

      <p><i>"These are the wines that fry men's (and women's) souls"<sup>*</sup></i></p>
      <p>Here are the wines in our cellars...</p>


    </div>
<% end %>

<% content_for :left_sidebar do %>
    <div>
      <p>Welcome to Grapewitz, a place you can go after a couple of glasses of wine to
        discuss your purchase with friends, keep track of how much you haven't spent
        on wine by buying at a discount (savings you'll need for that nice, new liver),
        and generally having a merry old time.
      </p>


      <p>Click in the 'purchace' column to view details of that day's shopping</p>

      <p>Click on the 'Wine Name' column to see what your friends have said
        about that particular wine</p>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:style) %></th>
    <th><%= model_class.human_attribute_name(:purchase) %></th>
    <th><%= model_class.human_attribute_name(:wine_name) %></th>
    <th><%= model_class.human_attribute_name(:comment) %></th>
  </tr>
  </thead>

  <tbody>
  <% @wines.each do |wine| %>
      <tr>
        <td><%= image_tag(wine.variety.icon, size: "25x25") %></td>
        <td><%= link_to "#{ pluralize(wine.num_bottles(true, current_user.id), "bottle") }",
                        bottles_path(:wine_id => wine.id) %></td>
        <td><%= link_to "#{wine.wine_name}", wine_path(wine.id) %></td>
        <% if wine.comments.first %>
            <td><i><%= truncate(wine.comments.first.comment, length: 80, separator: ' ') %></i></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= button_to 'NEW WINE', new_wine_path, class: "button", method: :get %><br>

<br>



<% content_for :footer do %>
    <div>
      <p><sup>*</sup>Thomas Pain</p>
    </div>
<% end %>
