<h1>New wine</h1>

<%= render 'form' %>

<%= link_to 'New Brand', brands_path %>
<%= link_to 'New Variety', varieties_path %>
<%= link_to 'New Region', regions_path %>
<%= link_to 'Back to wines', wines_path %>
