<% content_for :header do %>
    <div>
      <h2><%= @wine.name %> from <%= @wine.region.name %></h2>

      <p>This wine was first added by:
        <i><%= @comments.first.user.name %></i> who says: <br>
        <p><%= @comments.first.comment %></p>
      </p>
    </div>
<% end %>

<% content_for :left_sidebar do %>
    <p>
      User this page to add your own notes on this wine.  Feel free to keep the conversation going...
    </p>
<% end %>


<% if @comments != NIL && @comments.size > 1 %>
    <p>
      <strong>Here is what your friends have to say about <%= @wine.name %></strong>
    </p>
    <% @comments.each_with_index do |c, index| %>
        <p>
          <% if index == 0 %>
              <% next %>
          <% end %>
          <% if c.user_id != current_user.id %>
              <%= c.user.email %> says:
          <% end %>
          <%= c.comment %>
        </p>
    <% end %>
<% end %>

<%= form_for(@comment, {:url => comments_path({:wine_id => @wine.id})}) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label "If you have some thoughts about this wine, add them here" %>
      <br>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%# iterate through @wine.bottles %>
<table>
  <p>
    <strong>... and here are the bottles your friends have purchased</strong>
    <p>click the link to see their cellar </p>
  </p>

  <% @bottles.each do |bottle| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <%= image_tag( bottle.wine.variety.icon, size: "25x25") %>
        <td class="list_description">
          <%= link_to bottle.user.name, user_path(bottle.user.id) %>
          <dd><%= bottle.to_label %></dd>
          <dd><i><%= "\"#{strip_tags(bottle.comment)}\"" %></i></dd>
        </td>
      </tr>
  <% end %>
</table> <br/>


