<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @wine.brand.name %>
  <%= @wine.variety.name %>
</p>
<p>
  <strong>Total purchased:</strong>
  <%= @num_bottles %>
</p>

<%# iterate through @wine.bottles %>
<table>
  <% @wine.bottles.each do |bottle| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
       <td class="list_description">
         <dl>
            <dd>Got <%= bottle.quantity %>
              from <%= bottle.store.name %>
              for <%= number_to_currency( bottle.price ) %>
              <% if bottle.purchased != NIL %>
                on: <%= bottle.purchased %>
              <% end %>
             and rated it: <%= bottle.rating %>
           </dd>
         </dl>
         <dl>
           <dd>Comment: <%= strip_tags(bottle.comment) %></dd>
         </dl>

       </td>


        <td class="list_actions">
          <%= link_to 'Show', bottle %><br/>
          <%= link_to 'Edit', edit_bottle_path(bottle) %><br/>
          <%= link_to 'Destroy', bottle, method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table> <br />


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
