<!DOCTYPE html>
<html>
<head>
  <title>Grapewitz</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>


<div id="container">

  <div id="header">
    <% if notice != nil %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert != nil %>
        <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield :header %>
  </div>

  <div id="menu">
    <% if current_user != NIL %>
        <p><%= current_user.email %></p>
        <p class="logout"><%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= link_to "Home", :root %>
        <%= link_to 'Back', :back %></p>

        MY LINKS:

    <% end %>

    <%= yield :left_sidebar%>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <%= yield :footer %>
    Copyright © Casswitz Enterprises
  </div>

</div>


</body>
</html>
