<!DOCTYPE html>
<html>
<head>
  <title>Grapewitz</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="container">
  <div id="header">
    <% if notice != nil %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert != nil %>
        <p class="alert"><%= alert %></p>
    <% end %>
    <% if current_user != nil %>
        <table>
          <tr>
            <td width="20%"><%= image_tag("grapes.jpg", size: "180x180") %></td>
            <td width="80%"><%= yield :header %></td>
          </tr>
        </table>
    <% end %>
  </div>
  <div id="menu">
    <% if current_user != NIL %>
        <strong>You are logged in as</strong>

        <p><%= current_user.email %></p>

        <p class="logout"><%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%= link_to "Home", :root %>
          <%= link_to 'Back', :back %></p>
        <%= button_to "Wine List", wines_path, :class => 'button', :method => :get %>
        <hr>
        <p><strong>My Links</strong></p>

    <% end %>

    <%= yield :left_sidebar %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <%= yield :footer %>
    Copyright © Casswitz Enterprises
  </div>

</div>

</body>
</html>
